/* src/components/Footer.css */

footer {
    background-color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-icons a {
    margin: 0 10px;
    color: #3498db; /* Adjust the color as needed */
  }
  