/* src/components/Home.css */

.home-container {
    text-align: center;
    margin-top: 2%;
  }
  
/* Make the image responsive */
.profile-image {
  border-radius: 50%;
  width: 100%;
  max-width: 250px; /* Adjust as needed */
  height: auto;
  margin-top: 10%; /* Use percentage for margin */
}

/* Use relative units for font sizes */
.tagline {
  font-style: italic;
  font-size: 1.2em;
  margin-top: 2%; /* Use percentage for margin */
  margin-bottom: 10%; /* Use percentage for margin */
}
  