/* src/components/Projects.css */

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.card {
  width: calc(50% - 20px);
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card h3 {
  color: #001F3F;
  padding: 15px;
  margin: 0;
  font-size: 18px;
}

.card p {
  padding: 15px;
  margin: 0;
  color: #333;
  line-height: 1.5;
}

.link-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.external-link {
  color: #3498db;
  background-color: #fff;
  padding: 8px 12px;
  border: 1px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.external-link:hover {
  background-color: #3498db;
  color: #fff;
}

/* Responsive styles */

@media only screen and (max-width: 768px) {
  .project-cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .card h3 {
    font-size: 16px;
  }

  .card p {
    font-size: 14px;
  }

  /* New rule for single card per row on smaller screens */
  @media only screen and (max-width: 576px) {
    .project-cards {
      /* Ensure there's only one card per row */
      flex-wrap: nowrap;
    }
  }
}