/* src/components/Projects.css */

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: calc(50% - 20px); /* Two cards in a row with increased space */
    margin-bottom: 30px; /* Increased space between cards */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .card h3 {
    color: #001F3F;
    padding: 15px; /* Increased padding */
    margin: 0;
  }
  
  .card p {
    padding: 15px; /* Increased padding */
    margin: 0;
    color: #333;
  }
  
  .link-container {
    text-align: center;
    margin-top: 10px; /* Add some margin between the project description and the link */
    margin-bottom: 20px;
  }
  
  .external-link {
    color: #3498db;
    background-color: #fff;
    padding: 8px 12px;
    border: 1px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .external-link:hover {
    background-color: #3498db;
    color: #fff;
  }