/* src/components/Resume.css */

#resume {
    padding: 20px;
  }
  
  #resume h2 {
    color: #333;
  }
  
  #resume a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
  }
  
  #resume a:hover {
    background-color: #555;
  }
  